/* качества */

.our-quality {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
}

.quality .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.quality .text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.7;
}

.quality {
    @media screen and (min-width:768px) and (max-width:1199px) {
       display: flex; 
       flex-wrap: wrap;
       margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
    
}

.quality .item {
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc((100% - 60px)/2);
        margin: 15px;
     }
    

    @media screen and (min-width: 1200px) {
        width: calc((100%-90px)/4);
    }

   &:not(:last-child) {
    @media screena and (max-width: 767px) {
        margin-bottom: 30px;
    }
   } 
}

.quality .item+.item{
    
    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
}

.quality .item::before {
    content: "";
    display:block;
    height: 120px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    margin-bottom: 30px;
   background-color: $background-color; 
}  


.quality .icon-antenna::before {
    background-image: url(../images/antenna.svg);
} 

.quality .icon-clock::before {
    background-image: url(../images/clock.svg);
}

.quality .icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.quality .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}