    $primery-text-color: #757575;
    $title-text-color: #212121;
    $accent: #2196F3;
    $white: #FFFFFF;
    $background-color: #F5F4FA;
    $background-footer: #2F303A;
    $list-contacts:rgba(255, 255, 255, 0.6);
    $logo-studio: #000000;
    $outline-cards: #EEEEEE;
    $button-hover: #188CE8;
    $border-color: #ECECEC;
    $icon-color: #AFB1B8;
    $icon-color-edit: rgba(255, 255, 255, 0.1);

    $logo-text: 'Raleway';
    $text-font: 'Roboto';